// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

//Page Height
$page-height: 100vh;

// Colors
$color-primary: #0069b4;
$color-dark-gray: #333333;
$color-gray: #CCCCCC;
$color-white: #FFFFFF;
$color-black: #000000;
$color-light-gray: #959595;
$color-text-gray:#212529;
$green-chat: #86BB71;
$blue-chat: #94C2ED;
$orange-chat: #E38968;
$gray-chat: #92959E;

// Fonts
$font-heading: 'Raleway', sans-serif;
$font-text: 'Open Sans', sans-serif;

